/** Mobile first development **/

.container {
  margin-bottom: auto
    /* 224px */
  ;
}

.main {
  margin-top: 2rem
    /* 40px */
  ;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem
    /* 1,440px */
  ;
  padding-left: 1rem
    /* 16px */
  ;
  padding-right: 1rem
    /* 16px */
  ;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroImage {
  height: auto;
  width: auto;
}

.cardLayout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1.5rem
    /* 24px */
  ;
  row-gap: 1.5rem
    /* 24px */
  ;
}

.card {
  justify-content: center;
}

.heading2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  color: var(--text-brown);
}

.sectionWrapper {
  margin-top: 1rem;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 640px) {
  .container {
    padding-left: 1rem
      /* 16px */
    ;
    padding-right: 1rem
      /* 16px */
    ;
  }

  .main {
    margin-top: 3rem
      /* 48px */
    ;
    margin-bottom: 3rem
      /* 48px */
    ;
    padding-left: 1.5rem
      /* 24px */
    ;
    padding-right: 1.5rem
      /* 24px */
    ;
  }

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2.5rem
      /* 40px */
    ;
    padding-right: 2.5rem
      /* 40px */
    ;
  }

  .main {
    margin-top: 4rem
      /* 64px */
    ;
    margin-bottom: 4rem
      /* 64px */
    ;
  }

  .cardLayout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem
      /* 40px */
    ;
    padding-right: 2.5rem
      /* 40px */
    ;
  }

  .main {
    margin-top: 5rem
      /* 80px */
    ;
    margin-bottom: 5rem
      /* 64px */
    ;
    padding-left: 2rem
      /* 32px */
    ;
    padding-right: 2rem
      /* 32px */
    ;
  }

  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .main {
    margin-top: 7rem
      /* 112px */
    ;
    margin-bottom: 7rem
      /* 64px */
    ;
  }

  .cardLayout {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}